*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 640px;
    height: 640px;
    border: 1px solid;
    overflow: hidden;
    flex-shrink: 0;
    padding: 0;
    box-sizing: content-box;

}
.pixel{
    display: flex;
    transition: 0.6s;
    border: 1px solid;
    border-color: grey;
}
h1{
    font-size: 50px;
}
.button{
    margin-top: 20px;
    padding: 23px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s;
}
.button:hover{
    opacity: 70%;
}