*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    max-width: 960px;
}
.teste{
    display: flex;
    flex: 1;
    transition: 0.2s;
    border-radius: 2px;
}
h1{
    font-size: 50px;
}
.button{
    margin-top: 20px;
    padding: 23px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s;
}
.button:hover{
    opacity: 70%;
}